<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Facilities for Site: {{site_name}}</title>
</head>
<body>
	<h1>
		{{site.name}}
	</h1>
	<a href="/">
		&laquo; Back to Home
	</a>
	{% for ftype, facilities in site.facilities_by_type %}
	<h2>
		{{ftype.name}}
	</h2>
	<table>
		<thead>
			<tr>
				<th></th>
				{% for variable in ftype.ordered_variables %}
				<th>
					{{variable.name}}
				</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for facility in facilities %}
			<tr>
				<th scope="row">
					{{facility.name}}
				</th>
				{% for data in facility.values_in_order %}
				<td style="text-align: center">
					{% if data %}
					{{ data.value }}
					{% else %}
					<span class="nil-value">&mdash;</span>
					{% endif %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endfor %}
</body>
</html>
