<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Facilities for Site: {{site_name}}</title>
	<style type="text/css" media="screen">
		body {
			font-family: Arial;
		}
		.data {
			text-align: center;
		}
		.agg {
			font-size: smaller;
			text-align: center;
			background-color: #eee;
		}
		th { text-align: left; }
		th.agg {
			background-color: transparent;
			text-transform: uppercase;
			text-align: right;
			opacity: 0.6;
		}
		th.agg:after { content: ':'; }
		tr:hover th.agg {
			opacity: 1;
		}
	</style>
</head>
<body>
	<h1>
		{{site.name}}
	</h1>
	<a href="/">
		&laquo; Back to Home
	</a>
	{% for ftype, facilities, averages, totals in site.facilities_by_type %}
	<h2>
		{{ftype.name}}
	</h2>
	<table>
		<thead>
			<tr>
				<th></th>
				{% for variable in ftype.ordered_variables %}
				<th>
					{{variable.name}}
				</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for facility in facilities %}
			<tr>
				<th scope="row">
					{{facility.name}}
				</th>
				{% for data in facility.values_in_order %}
				<td class="data">
					{% if data %}
					<span data-variable-data-type="{{data.data_type}}" class="reformat-data">
						{{ data.value }}
					</span>
					{% else %}
					<span class="nil-value">&mdash;</span>
					{% endif %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th scope="row" class="aggregates agg">
					Average
				</th>
				{% for avg_data in averages %}
				<td class="avg agg">
					{% if avg_data %}
					<span data-variable-data-type="float" data-decimal-count="3" class="debug reformat-data">
						{{avg_data}}
					</span>
					{% else %}
					<span class="nil-value">&mdash;</span>
					{% endif %}
				</td>
				{% endfor %}
			</tr>
			<tr>
				<th scope="row" class="aggregates agg">
					Total
				</th>
				{% for total in totals %}
				<td class="tot agg">
					{% if total %}
					<span data-variable-data-type="integer" class="reformat-data">
						{{total}}
					</span>
					{% else %}
					<span class="nil-value">&mdash;</span>
					{% endif %}
				</td>
				{% endfor %}
			</tr>
		</tfoot>
	</table>
	{% endfor %}
	<script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		var reformatDataSpans = (function($){
			var reformatters = {
				float: function(elem){
					var roundToDecimal = elem.data('decimalCount');
					if(roundToDecimal===undefined) { return; }
					var val = parseFloat(elem.text());
					console.log(val);
					if(!isNaN(val)) {
						console.log("decimal count is ", roundToDecimal)
						var x = Math.pow(10, parseInt(roundToDecimal));
						var n = Math.round(val * x) / x;
						console.log(n);
						elem.text(''+ n);
					}
					elem.addClass('reformatted');
				},
				integer: function(elem){
					var val = parseFloat(elem.text());
					if(!isNaN(val)){ elem.text(Math.floor(val))}
					$(this).addClass('reformatted');
				}
			}
			function reformatAllSpans(){
				$('span.reformat-data').each(function(){
					if(!$(this).hasClass('reformatted')) {
						var dt = $(this).data('variableDataType');
						if(dt) {
							reformatters[dt] !== undefined && reformatters[dt]($(this));
						}
					}
				});
			}
			return reformatAllSpans;
		})(jQuery);
		
		reformatDataSpans();
	</script>
</body>
</html>
